In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from IPython.display import display


data=pd.read_csv('Categorical data bike.csv')

In [3]:
print("Size:",data.size)
print("Shape:", data.shape)
display("Attributes: ")
display(data.info())

Size: 13000
Shape: (1000, 13)

'Attributes: '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1000 non-null   int64
 1   Marital Status    993 non-null    object
 2   Gender            989 non-null    object
 3   Income            994 non-null    float64
 4   Children          992 non-null    float64
 5   Education         1000 non-null   object
 6   Occupation        1000 non-null   object
 7   Home Owner        996 non-null    object
 8   Cars              991 non-null    float64
 9   Commute Distance  1000 non-null   object
 10  Region            1000 non-null   object
 11  Age               992 non-null    float64
 12  Purchased Bike    1000 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 101.7+ KB

None

In [4]:
for col in data.select_dtypes(include=['object']):
        data[col] = data[col].str.lower().str.strip()

In [5]:
print("NAN")
nan_counts = data.isna().sum()
print(nan_counts[nan_counts > 0])

print("\nNULL")
null_counts = data.isnull().sum()
print(null_counts[null_counts > 0])

NAN
Marital Status     7
Gender            11
Income             6
Children           8
Home Owner         4
Cars               9
Age                8
dtype: int64

NULL
Marital Status     7
Gender            11
Income             6
Children           8
Home Owner         4
Cars               9
Age                8
dtype: int64

In [6]:
data=data.fillna(data.mode().iloc[0])

In [17]:
print("NAN")
nan_counts = data.isna().sum()
print(nan_counts[nan_counts > 0])

print("\nNULL")
null_counts = data.isnull().sum()
print(null_counts[null_counts > 0])

NAN
Series([], dtype: int64)

NULL
Series([], dtype: int64)

In [8]:
for col in data.select_dtypes('object').columns:
    print(col,"\n",data[col].unique())

Marital Status
 ['married' 'single']
Gender
 ['female' 'male']
Education
 ['bachelors' 'partial college' 'high school' 'partial high school'
 'graduate degree']
Occupation
 ['skilled manual' 'clerical' 'professional' 'manual' 'management']
Home Owner
 ['yes' 'no']
Commute Distance
 ['0-1 miles' '2-5 miles' '5-10 miles' '1-2 miles' '10+ miles']
Region
 ['europe' 'pacific' 'north america']
Purchased Bike
 ['no' 'yes']

In [9]:
eduction_mapping={
    'bachelors':'bachelors',
    'partial college':'bachelors',
    'high school':'high_school',
    'partial high school':'high_school',
    'graduate degree':'graduated'
}

ocupation_mapping={
    'skilled manual':'manual',
    'clerical':'clerical',
    'professional':'professional',
    'manual':'manual',
    'management':'management'
}

CommuteWorkingMapping={
    '0-1 miles':0.5,
    '2-5 miles':3.5,
    '5-10 miles':7.5,
    '1-2 miles':1.5,
    '10+ miles':10
}

In [10]:
data['Education']=data['Education'].map(eduction_mapping)
data['Occupation']=data['Occupation'].map(ocupation_mapping)
data['Commute Distance']=data['Commute Distance'].map(CommuteWorkingMapping)

In [11]:
data.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,married,female,40000.0,1.0,bachelors,manual,yes,0.0,0.5,europe,42.0,no
1,24107,married,male,30000.0,3.0,bachelors,clerical,yes,1.0,0.5,europe,43.0,no
2,14177,married,male,80000.0,5.0,bachelors,professional,no,2.0,3.5,europe,60.0,no
3,24381,single,male,70000.0,0.0,bachelors,professional,yes,1.0,7.5,pacific,41.0,yes
4,25597,single,male,30000.0,0.0,bachelors,clerical,no,0.0,0.5,europe,36.0,yes

In [12]:
valid_occupations=['skilled manual','professional','manual']
data.loc[~data['Occupation'].isin(valid_occupations),'Occupation']='manual'

In [13]:
data.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,married,female,40000.0,1.0,bachelors,manual,yes,0.0,0.5,europe,42.0,no
1,24107,married,male,30000.0,3.0,bachelors,manual,yes,1.0,0.5,europe,43.0,no
2,14177,married,male,80000.0,5.0,bachelors,professional,no,2.0,3.5,europe,60.0,no
3,24381,single,male,70000.0,0.0,bachelors,professional,yes,1.0,7.5,pacific,41.0,yes
4,25597,single,male,30000.0,0.0,bachelors,manual,no,0.0,0.5,europe,36.0,yes

In [14]:
numeric_data=data.select_dtypes(exclude=['object']).columns
categorical_values=data.select_dtypes(include=['object']).columns

In [15]:
encoder=LabelEncoder()
for col in data.select_dtypes(include=['object']).columns:
    data[col]=encoder.fit_transform(data[col])

In [16]:
data.head()

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,12496,0,0,40000.0,1.0,0,0,1,0.0,0.5,0,42.0,0
1,24107,0,1,30000.0,3.0,0,0,1,1.0,0.5,0,43.0,0
2,14177,0,1,80000.0,5.0,0,1,0,2.0,3.5,0,60.0,0
3,24381,1,1,70000.0,0.0,0,1,1,1.0,7.5,2,41.0,1
4,25597,1,1,30000.0,0.0,0,0,0,0.0,0.5,0,36.0,1