In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
from datetime import datetime

In [2]:
data=pd.read_csv('Groceries_dataset.csv')

In [3]:
display(data.head())
display(data.size)
display(data.shape)
display(data.info())

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

116295

(38765, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

None

In [14]:
data['Member_number'].is_unique

False

In [5]:
display(data.isna().sum())
display(data.isnull().sum())
display(data.dtypes.value_counts())

Member_number      0
Date               0
itemDescription    0
dtype: int64

Member_number      0
Date               0
itemDescription    0
dtype: int64

object    2
int64     1
Name: count, dtype: int64

In [6]:
data['Date'] = pd.to_datetime(data['Date'], format='%d-%m-%Y')

In [7]:
display(data.duplicated().sum())

np.int64(759)

In [8]:
data=data.drop_duplicates()
data.duplicated().sum()

np.int64(0)

In [9]:


data['Day'] = data['Date'].dt.day
data['Month'] = data['Date'].dt.month
data['Year'] = data['Date'].dt.year
data['Weekday'] = data['Date'].dt.day_name()
data['Week'] = data['Date'].dt.isocalendar().week

data.head()

,Member_number,Date,itemDescription,Day,Month,Year,Weekday,Week
0,1808,2015-07-21,tropical fruit,21,7,2015,Tuesday,30
1,2552,2015-01-05,whole milk,5,1,2015,Monday,2
2,2300,2015-09-19,pip fruit,19,9,2015,Saturday,38
3,1187,2015-12-12,other vegetables,12,12,2015,Saturday,50
4,3037,2015-02-01,whole milk,1,2,2015,Sunday,5

In [10]:
data['itemDescription'].value_counts()

itemDescription
whole milk               2363
other vegetables         1827
rolls/buns               1646
soda                     1453
yogurt                   1285
                         ...
rubbing alcohol             5
bags                        4
baby cosmetics              3
kitchen utensil             1
preservation products       1
Name: count, Length: 167, dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38006 entries, 0 to 38764
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38006 non-null  int64
 1   Date             38006 non-null  datetime64[ns]
 2   itemDescription  38006 non-null  object
 3   Day              38006 non-null  int32
 4   Month            38006 non-null  int32
 5   Year             38006 non-null  int32
 6   Weekday          38006 non-null  object
 7   Week             38006 non-null  UInt32
dtypes: UInt32(1), datetime64[ns](1), int32(3), int64(1), object(2)
memory usage: 2.1+ MB

In [12]:
for col in data.select_dtypes(include=['object']).columns:
    data[col] = data[col].str.lower().str.strip()
    print(col,"\n",list(data[col].unique()))

itemDescription
 ['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables', 'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'frankfurter', 'chicken', 'butter', 'fruit/vegetable juice', 'packaged fruit/vegetables', 'chocolate', 'specialty bar', 'butter milk', 'bottled water', 'yogurt', 'sausage', 'brown bread', 'hamburger meat', 'root vegetables', 'pork', 'pastry', 'canned beer', 'berries', 'coffee', 'misc. beverages', 'ham', 'turkey', 'curd cheese', 'red/blush wine', 'frozen potato products', 'flour', 'sugar', 'frozen meals', 'herbs', 'soda', 'detergent', 'grapes', 'processed cheese', 'fish', 'sparkling wine', 'newspapers', 'curd', 'pasta', 'popcorn', 'finished products', 'beverages', 'bottled beer', 'dessert', 'dog food', 'specialty chocolate', 'condensed milk', 'cleaner', 'white wine', 'meat', 'ice cream', 'hard cheese', 'cream cheese', 'liquor', 'pickled vegetables', 'liquor (appetizer)', 'uht-milk', 'candy', 'onions', 'hair spray', 'photo/film', 'domestic eggs', 'margarine', 'shopping bags', 'salt', 'oil', 'whipped/sour cream', 'frozen vegetables', 'sliced cheese', 'dish cleaner', 'baking powder', 'specialty cheese', 'salty snack', 'instant food products', 'pet care', 'white bread', 'female sanitary products', 'cling film/bags', 'soap', 'frozen chicken', 'house keeping products', 'spread cheese', 'decalcifier', 'frozen dessert', 'vinegar', 'nuts/prunes', 'potato products', 'frozen fish', 'hygiene articles', 'artif. sweetener', 'light bulbs', 'canned vegetables', 'chewing gum', 'canned fish', 'cookware', 'semi-finished bread', 'cat food', 'bathroom cleaner', 'prosecco', 'liver loaf', 'zwieback', 'canned fruit', 'frozen fruits', 'brandy', 'baby cosmetics', 'spices', 'napkins', 'waffles', 'sauces', 'rum', 'chocolate marshmallow', 'long life bakery product', 'bags', 'sweet spreads', 'soups', 'mustard', 'specialty fat', 'instant coffee', 'snack products', 'organic sausage', 'soft cheese', 'mayonnaise', 'dental care', 'roll products', 'kitchen towels', 'flower soil/fertilizer', 'cereals', 'meat spreads', 'dishes', 'male cosmetics', 'candles', 'whisky', 'tidbits', 'cooking chocolate', 'seasonal products', 'liqueur', 'abrasive cleaner', 'syrup', 'ketchup', 'cream', 'skin care', 'rubbing alcohol', 'nut snack', 'cocoa drinks', 'softener', 'organic products', 'cake bar', 'honey', 'jam', 'kitchen utensil', 'flower (seeds)', 'rice', 'tea', 'salad dressing', 'specialty vegetables', 'pudding powder', 'ready soups', 'make up remover', 'toilet cleaner', 'preservation products']
Weekday
 ['tuesday', 'monday', 'saturday', 'sunday', 'friday', 'wednesday', 'thursday']